<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 450px;">
                <div class="position-relative h-100">
                    <iframe class="position-relative w-100 h-100"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2629.25433584824!2d2.3494489761926336!3d48.77703450642868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671491b29f79f%3A0xfbd1ff2989b5d46a!2sAuto%2FMoto-Ecole%20PERMIS%20MASTER!5e0!3m2!1sfr!2sfr!4v1697272813054!5m2!1sfr!2sfr"
        frameborder="0" style="min-height: 450px; border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>

                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <h6 class="text-primary text-uppercase mb-2">Contactez nous</h6>
                <h1 class="display-6 mb-4">Une question ? N'hésitez pas à nous contacter !</h1>
                <!-- Your new form goes here -->
                <%= form_with scope: :contact_form, url: contact_form_index_path, method: :post, local: true, class: "container" do |form| %>
  <div class="form-group">
    <%= form.label :nom, class: "form-label" %>
    <%= form.text_field :nom, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :objet, class: "form-label" %>
    <%= form.text_field :objet, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :message, class: "form-label" %>
    <%= form.text_area :message, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit 'Envoyer', class: "btn btn-primary py-3 px-5" %>
  </div>
<% end %>

            </div>
        </div>
      <div class="icons mt-4">

        <i class="fa-solid fa-phone"></i>
        <p>01 46 86 46 22</p>
        <i class="fa-solid fa-location-dot"></i>
        <p>39 Rue des Primevères, 94240 L'Haÿ-les-Roses</p>
        <i class="fa-solid fa-envelope"></i>
        <p>permis.master@gmail.com</p>
        <i class="fa-brands fa-snapchat"></i>
        <p>permismaster94</p>
      </div>
    </div>
</div>
